.home--container {
  top: 80px;
  height: 100vh;
  width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 150px;
}

.picture {
  max-height: 350px;
  max-width: 200px;
}

.name {
  font-size: 50px;
  max-width: max-content;
  color: white;
  font-weight: 300;
  position: relative;
  font-family: "Aladin", system-ui;
}
.last__name {
  font-family: "Berkshire Swash", serif;
  font-size: 70px;
  font-weight: 500;
}

.name::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: rgb(1, 145, 255);
  box-shadow: 0 0 5px rgb(1, 145, 255), 0 0 10px rgb(1, 145, 255),
    0 0 20px rgb(1, 145, 255), 0 0 40px rgb(1, 145, 255);
}

.button {
  width: 200px;
  height: 40px;
  border-radius: 16px;
  background-color: rgb(1, 145, 255);
  transition: 1.3s;
  color: white;
}

.button:hover {
  scale: 1.1;
  cursor: pointer;
  background-color: rgb(133, 133, 133);
  color: black;
}
