.container {
  background-color: rgb(0, 162, 255);
  height: 80px;
  padding: 0 50px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  font-size: larger;
  transform: translate(-50%);
  gap: 30px;
  box-shadow: 0 0 50px rgb(10, 101, 153), 0 0 30px rgb(10, 101, 153);
  z-index: 1;
}

.item {
  transition: 1s;
  cursor: pointer;
}

.item:hover {
  color: black;
  scale: 1.1;
  text-decoration: underline black;
}
