.contact--me--container {
  height: 35vh;
  padding-left: 100px;
  padding-top: 50px;
  animation: blur linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

.links--container {
  width: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.link {
  max-width: max-content;
  text-decoration: none;
  display: flex;
  color: white;
  align-items: center;
  gap: 10px;
  transition: 1s;
}

.link:hover {
  transform: translate(30px);
  color: rgb(255, 162, 0);
  scale: 1.1;
  text-decoration: underline rgb(255, 162, 0);
}

@media (max-width: 1024px) {
  .contact--me--container {
    padding-left: 50px;
  }
}

@media (max-width: 450px) {
  .links--container {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
  }
}

@keyframes blur {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
